
<!--=====================
          Content
======================-->
<!DOCTYPE html>
<html>
<head>
    <title>מחירון</title>
    <style>
       
        .img {
    display:block;
    position:center;
    background:url(../images/tarif.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    width:1500px;
    height:2500px;
    bottom:0;
    right:25%;
    left:25%;
}

    </style>
</head>
<body>

    <img class="img" src="images/tarif.jpg" />

    </body>
</html>
